# Database
DATABASE_URL="postgresql://tadmitinteractive@localhost:5432/flashsite?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-here"

# Email (Nodemailer)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"

# Twilio SMS
TWILIO_ACCOUNT_SID="your-twilio-account-sid"
TWILIO_AUTH_TOKEN="your-twilio-auth-token"
TWILIO_PHONE_NUMBER="+1234567890"

# Web Push
VAPID_PUBLIC_KEY="your-vapid-public-key"
VAPID_PRIVATE_KEY="your-vapid-private-key"
VAPID_EMAIL="your-email@example.com"

# Server
PORT=3001
NODE_ENV=development

SENDGRID_API_KEY=""
FROM_EMAIL="noreply@poply.co.il"
FROM_NAME="Poply"
CLIENT_URL="http://localhost:5173"

SMS4FREE_API_KEY=6Gc8AXX5R
SMS4FREE_USER=0542284283
SMS4FREE_PASS=46381301


# Short links domain (optional, defaults to CLIENT_URL/l)
SHORT_LINK_DOMAIN="http://localhost:3001/l"

# PayPlus Configuration
PAYPLUS_API_KEY=""
PAYPLUS_SECRET_KEY=""
PAYPLUS_PAYMENT_PAGE_UID=""
PAYPLUS_ENV="development" # development or production



